<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
       <!-- Navbar -->
   <div class="navbar">
        <nav class="nav">
            <ul class="ulnav">
                <li ><a href="/">Home</a></li>
                <li><a href="/About">About Me</a></li>
            </ul>
        </nav>
    </div>
    <!-- About Us Content -->
    <div class="container">
        <h1>About Us</h1>
        <p>My name is Fahad, <br><br> I've designed a simple To-Do app as part of a web development learning project. <br><br></p>
    </div>
</body>
